<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Meu portfólio em Django{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <header>
    <div class="container">
      <nav class="navbar">
        <a href="{% url 'index' %}">
          <img src="{% static 'images/logo.png' %}" alt="logo" class="logo" />
        </a>
        <div class="header-menu">
          <ul class="nav">
            <li>
              <a href="{{ profile.site_url }}" target="_blank">
                <img src="{% static 'images/site.png' %}" alt="site" class="spotlight" />
              </a>
            </li>
            <li>
              <a href="https://play.google.com/store/apps/details?id=com.guilhermeddc.meuportifolio">
                <img src="{% static 'images/android.png' %}" alt="android" class="spotlight" />
              </a>
            </li>
          </ul>
          <ul class="nav">
            <li>
              <a href="{{ profile.facebook_url }}" target="_blank">
                <img src="{% static 'images/facebook.png' %}" alt="facebook" />
              </a>
            </li>
            <li>
              <a href="{{ profile.instagram_url }}" target="_blank">
                <img src="{% static 'images/instagram.png' %}" alt="instagram" />
              </a>
            </li>
            <li>
              <a href="{{ profile.github_url }}" target="_blank">
                <img src="{% static 'images/github.png' %}" alt="github" />
              </a>
            </li>
            <li>
              <a href="{{ profile.gitlab_url }}" target="_blank">
                <img src="{% static 'images/gitlab.png' %}" alt="gitlab" />
              </a>
            </li>
            <li>
              <a href="{{ profile.linkedin_url }}" target="_blank">
                <img src="{% static 'images/linkedin.png' %}" alt="linkedin" />
              </a>
            </li>
            <li>
              <a href="https://api.whatsapp.com/send?phone=55055999937833" target="_blank">
                <img src="{% static 'images/whatsapp.png' %}" alt="whatsapp" />
              </a>
            </li>
            <li>
              <a href="/admin">
                <img src="{% static 'images/admin.png' %}" alt="logo" class="spotlight" />
              </a>
            </li>
          </ul>
        </div>
        <nav>
    </div>
  </header>

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

  <footer>
    <nav>
      <ul class="footer-menu">
        <li>
          <a href="{{ profile.facebook_url }}" target="_blank">
            <img src="{% static 'images/facebook.png' %}" alt="facebook" />
          </a>
        </li>
        <li>
          <a href="{{ profile.instagram_url }}" target="_blank">
            <img src="{% static 'images/instagram.png' %}" alt="instagram" />
          </a>
        </li>
        <li>
          <a href="{{ profile.github_url }}" target="_blank">
            <img src="{% static 'images/github.png' %}" alt="github" />
          </a>
        </li>
        <li>
          <a href="{{ profile.gitlab_url }}" target="_blank">
            <img src="{% static 'images/gitlab.png' %}" alt="gitlab" />
          </a>
        </li>
        <li>
          <a href="{{ profile.linkedin_url }}" target="_blank">
            <img src="{% static 'images/linkedin.png' %}" alt="linkedin" />
          </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=55055999937833" target="_blank">
            <img src="{% static 'images/whatsapp.png' %}" alt="whatsapp" />
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      <p>
        © 2020 Copyright: <a href="{{ profile.site_url }}" target="_blank">Guilherme Rodrigues</a>
      </p>
    </div>
  </footer>
</body>

</html>